/* Modal styles for terms $ condition*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding: 30px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(69, 69, 69, 0.8);
}
.modal-content {
  background: #111111e3;
  color: #cccccc;
  margin: auto;
  padding: 20px;
  max-width: 700px;
  /* border: 1px solid #ffcc0090; */
}
.modal-content h2 {
  border-bottom: 1px solid var(--UPlay-yellow);
  padding-bottom: 1.2rem;
}
.close {
  color: var(--UPlay-yellow);
  float: right;
  font-size: 28px;
  cursor: pointer;
}
.close:hover { color: red; }

.modal-content ul {
  text-align: left;
}