:root {
  --UPlay-yellow: #ffcc00;
  --UPlay_Yellow2: #ffd632;
  --UPlay-background-color: #1a1a1a;
  --UPlay-text-color: white;
  --UPlay-font: 'Orbitron', sans-serif;
  --line: #3a3a3a;
  --card: #1f1f1f;
  --card-alt: #242424;
  --accent: #0082ff;
}

body {
    font-family: var(--UPlay-font);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.064) 5%, #0d0d0d41 90%), url('../images/stadium3.jpeg') no-repeat center center/cover;
    color: #e0e0e0;
    background-size: cover;
    /* padding: 0 74px; */
}

/* .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #333;
} */

.container {
    max-width: 1200px;
    padding: 30px;
    background: #2c2c2cc9;
    border-radius: 1rem;
}

th,
td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #222;
    font-weight: normal;
}

th {
    color: var(--UPlay_Yellow2);
    font-weight: 600;
}

#leaderboardBody {
    color: rgb(227, 227, 227);
}

.popup {
    background: var(--UPlay-background-color);
    color: var(--UPlay-text-color);
    padding: 20px;
    border-radius: 12px;
    width: 60%;
}

.popup-content {
    display: flex;
    justify-content: space-evenly;
}

.heading {
    font-size: 2rem;
    /* color: var(--UPlay-yellow); */
    font-weight: 600;
}

    .back-button {
    background-color: var(--UPlay-yellow);
    color: #000;
    transition: background-color 0.3s;
    display: inline-block;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    /* animation: breathe 1.3s infinite; */
    /* box-shadow: 0 0 10px rgba(255, 204, 0, 0.6); */
}

.back-button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
    /* box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
    animation: breathe1 4s infinite; */
}

#players {
  padding: 3rem 3rem;
  /* background: linear-gradient(to top, #ff0b0b 5%, #0b0b0b 90%), url('../images/blurry-stadium.png') no-repeat center center/cover; */
  background: url('../images/medals.png') no-repeat center center/cover;
  position: relative;
  background-position: -50px 1px;
  background-size: 360px;
}

.search-input {
    width: 280px;
    margin: 20px 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: white;
}

@media (max-width: 768px){
    .search-input {
        width: 180px;
    }
}

.search-input::placeholder {
    color: #aaaaaa2e;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    border-radius: 2rem;
    border: 1px solid var(--UPlay_Yellow2);
}

.hover-row:hover {
    background-color: #222;
}

.pagination-btn {
    background-color: #333;
    color: white;
    padding: 0.25rem 0.75rem;
    margin: 0 0.25rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

.pagination-btn.active {
    background-color: var(--UPlay-yellow);
    color: black;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal-overlay.show {
    display: flex;
}

.modal-heading {
    font-size: 1.5rem;
    margin: 0rem;
    color: var(--UPlay-yellow);
    font-weight: 600;
}

.close-btn {
    /* margin-top: 1rem; */
    height: fit-content;
    background-color: var(--UPlay-yellow);
    color: black;
    padding: 0.1rem 0.75rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

@media (max-width: 640px) {
    .popup {
    width: 90%;
    max-width: none;
    padding: 16px;
    }

    .container {
    padding: 0;
    }

    table th,
    table td {
    padding: 8px;
    font-size: 0.875rem;
    }
    .heading{
    font-size: 1.5rem;
    }
}