.live-score-panel {
  position: fixed;
  top: 60px; /* below navbar */
  left: 0;
  width: 100%;
  background: #000000;
  border-top: 2px solid #333;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 999;
}

.teams {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 20px 0;
}

.team {
  justify-content: center;
}

.team img {
  width: 60px;
  height: 60px;
}

.score {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 20px;
}

.match-time {
  font-size: 1.5rem;
  margin-top: 10px;
}
